* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border: 2px solid red;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 10px;
    display: block;
}

.navbar a:hover {
    background-color: cornflowerblue;
}

img {
    width: 120px;
}
