* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 3px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.navbar p, h4, .footer {
    padding: 12px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    border: 1px solid blue;
    flex: 1;
}

.images-container {
    border: 1px solid green;
    display: flex;
   justify-content: space-around;
   padding-top: 1em;
    height: 100%;
    width: 60%;
}

.images-container img {
    width: 80%;
    border-radius: 20px;
    max-width: 140px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

